{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<div class="col-md-7 mx-auto mt-5">
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="col-md-6 mx-auto mt-5"></div>
			<form class="form-signin" method="post">
				{% if error %}
					<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
				<label for="inputEmail" class="sr-only">Email</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Connexion
				</button>
			</form>
		</div>

	</div>


{% endblock %}
