{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="m-5 row d-flex">
			<div class="col-sm-4  mx-auto">


				<h1>Inscription</h1>


				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}

				<button class="btn btn-success">Valider</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
