{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="col-md-7 mx-auto m-5 text-center">
			<h2>Bienvenue dans notre site</h2>
			<div class="m-5">
				<a href="/login">Connexion</a>
			</div>
			<div class="m-5">
				<a href="/register">Inscription</a>
			</div>
		</div>
	</div>
{% endblock %}
