{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Créer un post</h2>
				<a href="/topic/new">Créer</a>
			</div>
			<div class="col">
				<h2>Lire un post</h2>
			</div>
		</div>
	</div>
{% endblock %}
