{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="m-5 row d-flex">
			<div class="col-sm-4  mx-auto">


				<h1>Topic</h1>


				{{ form_start(form) }}
				{{ form_row(form.titre) }}
				{{ form_row(form.probleme) }}

				<button class="btn btn-success">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
